@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ephesis&display=swap");

:root {
  --primary-color: rgba(187, 115, 224, 1);
  --second-color: rgba(255, 141, 219, 1);
  --gradient: linear-gradient(
    121deg,
    rgba(187, 115, 224, 1) 21%,
    rgba(255, 141, 219, 1) 75%
  );
  --font-family1: "Pacifico", cursive;
  --font-family2: "Ephesis", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
